{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
    .find_container{
        width:60%;
        margin: auto;
        margin-top: 30px;
        padding: 20px;
        border: 1px solid rgb(236, 63, 63);
        border-radius: 20px;
    }
    .find_container input{
        width:100%;
        padding:6px;
        border: .5px solid gray;
    }
    .find_container {
        color:white !important;
    }
</style>

  <!-- slider section -->
    <!-- <section class="slider_section "> -->
      <div class="container ">
       
        <div class="find_container mb-5" style="background-color:rgb(13, 13, 78) ;">
          <div class="container">
            <div class="row">
              <div class="col">
                <form method="post">
                    {% csrf_token %}
                  <div class="form-row ">
                    <div class="detail-box col-lg-12">
                        <h1>
                          
                         Students Signup
                          
                        </h1>
                        
                        <br><br>
                      </div>
                  {% for field in form  %}
                  
                    <div class="form-group col-lg-6">
                    {{field.label}}: <br>
                    {{field}}
                    </div>
                  {% endfor %}
                  <div class="form-group col-lg-6">
                  <label for="">Last Name</label><br>
                    <input type="text" name="lname" placeholder="Last Name" required>
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="">Phone number</label><br>
                      <input type="number" name="phone" placeholder="Phone Number" required>
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="">Address</label><br>
                          <textarea type="text" class="form-control" placeholder="Address" required
                                        name="address"></textarea>
                        </div>

                        <div class="form-group col-lg-12">
                        <label for="">Bio Description</label><br>
                          <textarea type="text" class="form-control" placeholder="Bio Description" required
                                        name="bio"></textarea>
                        </div>

                        <div class="form-group col-lg-12">
                        <label for="">Skills</label><br>
                          <textarea type="text" class="form-control" placeholder="Skills" required
                                        name="skills"></textarea>
                        </div>

                    
                        <div class="form-group col-lg-12">
                          <label for="">Languages Known</label><br>
                          <input type="text" class="form-control" placeholder="Languages eg:English, Malayalam etc" required name="lng">

                          </div>

                          <div class="form-group col-lg-6">
                            <label for="">Photo</label><br>
                              <input type="file" name="Photo" placeholder="Field of work" required>
                            </div>

                          <div class="form-group col-lg-6">
                            <label for="">Resume</label><br>
                            <input type="file" class="form-control" placeholder="Languages eg:English, Malayalam etc" required name="resume">
  
                            </div>
                    

                    <div class="form-group col-lg-12 text-center">

                      <div class="btn-box text-center align-center">
                        <button type="submit" class="btn btn-info ">Register</button>
                      </div>
                      <br>
                      <p>This Registration Form Is only for students </p>
                        Recruiter Registration plaese click <a href="{%url 'RecruiterSignUp' %}">Here</a>
                    </div>
                    
                     
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </section> -->
    <!-- end slider section -->

{% endblock %}