{% extends "homeindex.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<style>
    .container{
        width:90%;
        margin: auto;
        border: 1px solid white;
        padding: 20px;
        border-radius: 10px;

    }
    .container .resume{
        border-bottom: 1px solid red;
    }
    .container .head2{
        text-transform: uppercase;
    }
    .contact{
        /* width:90%; */
        /* margin: auto; */
        /* text-align: center; */
        padding-top: 20px;
        border-top: .5px solid white;
    }
    .skills{
        padding: 20px;
        border-right: .5px solid white;
    }
    .education{
        padding: 20px;
    }
    .qualification{
        padding: 10px;
        border-bottom: .5px solid white;
    }
    h3{
        border-bottom: .5px solid gray ;
    }
</style>
<section class="job_section layout_padding">
    <div class="container">
    <h2>MY Profile</h2>
    {% for message in messages %}
    <h6 style="color:red;text-align:center">{{message}}</h6> 
     {% endfor %}
    <div class="container">
        <div class="row top resume">
            <div class="col-md-3 photo">
                <img src="{{profile.Photo.url}}" width="150px" alt="">
                <br>
                <form action="{%url 'ChangeProfilephoto' profile.id %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <input type="file" name="photo" required> <button type="submit" class="btn btn-outline-info btn-sm">Update</button>
                </form>

            </div>
            <div class="col-md-9">
                <div class="bio" >
                <h2 class="head2">{{request.user.first_name}}  {{profile.last_name}}</h2>
                <form action="{%url 'updateprofiledata' profile.id %}" method="post">
                    {% csrf_token %}
                 <br>
                </div>
                <div class="contact">
                    <p>
                        Phone:
                        <input type="text" name="mob" value="{{profile.Phone_number}}" style="background-color: transparent; width:100%; color: white;border: none;">  
                        Email: 
                        <input type="text" name="email" value="{{request.user.email}}" style="background-color: transparent; width:100%; color: white;border: none;">
                    </p>
                    <p>
                        Address: <input type="text" name="address" value="{{profile.address}}" style="background-color: transparent; width:100%; color: white;border: none;"> 
                    </p>
                </div>
                <button class="btn btn-outline-info btn-sm">update</button><br>
            </form>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-4 skills">
                <h3>Skills</h3>
                <p>{{profile.Skills}}</p>
                <h3>Languages</h3>
                <p>{{profile.Languages}}</p>
            </div>
            <div class="col-md-8 education">
                <h3 class="p-3">Educational Qualification &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-info btn-sm">Add New EDUCATION</a> <br></h3>
                {% for i in edu %}
              <div class="qualification">
                <h4>{{i.stream}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small style="font-size: x-small;">{{i.year}}</small></h4>
                <h5>{{i.institution}}</h5>
                <p>CGPA: {{i.CGPA}}</p>

                <a href="{%url 'DeleteStudentEducation' i.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
              </div>
              {% endfor %}
<br><br>
              <a href="{{profile.resume.url}}" target="_blank" class="btn btn-warning">View Resume</a>
              <p>Update New Resume
                <form action="{%url 'UpdateResume' profile.id %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <input type="file" name="resume" required>
                    <button type="submit" class="btn btn-outline-info btn-sm">Upload</button>
                </form>
              </p>
                

            </div>

        </div>

    </div>
    </div>
</section>


  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add New Educational Qualification</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{%url 'AddNewEducation' %}" method="post">
            {% csrf_token %}
        <div class="modal-body">
          
            <input type="text" class="form-control" name="stream" placeholder="Study Stream" required> <br>
            <input type="text" class="form-control" name="institution" placeholder="Institution" required> <br>
            <input type="text" class="form-control" name="year" placeholder="Year" required> <br>
            <input type="text" class="form-control" name="cgpa" placeholder="CGPA" required> <br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
      </div>
    </div>
  </div>

{% endblock %}