{% extends "homeindex.html" %}
{% block content %}
<style>
    .content{
        width:90%;
        padding: 20px;
        margin: auto;
        border-radius: 10px;
        border: .5px solid white;
        
        background: white;
    }
    .content h1{
        border-bottom: .5px solid gray;
    }
</style>

<div class="container mt-5 mb-5">
    <div class="content">
    <h3>Marks</h3>
    <table class="table table-info table-borderless mt-3 mb-3">
    {% for i in mark %}
        
        <tr>
            <th>Exam Name: <span class="text-primary">{{i.exam}}</span> </th>
            <th>Attended On <span class="text-primary">{{i.date}}</span> </th>
            <th>Mark<h1>{{i.marks}}</h1></th>
        </tr>
        <tr >
<td colspan="3" class="bg-white"></td>
        </tr>
    {% endfor %}

       
    </table>
    </div>
</div>

{% endblock %}