{% extends "teacherindex.html" %}
{% block content %}
<style>
    .content{
        width:90%;
        padding: 20px;
        margin: auto;
        border-radius: 10px;
        border: .5px solid white;
        
        background: white;
    }
    .content h1{
        border-bottom: .5px solid gray;
    }
</style>

<div class="container mt-5 mb-5">
    <div class="content">
    <h3>Mark Of {{student.user.first_name}} {{student.user.last_name}}</h3>
    <table class="table table-info table-borderless mt-3 mb-3">
    {% for i in mark %}
        
        <tr>
            <th>Exam Name: <span class="text-primary">{{i.exam}}</span> </th>
            <th>Attended date: <span class="text-primary">{{i.date}}</span> </th>
            <th>Mark <span class="text-primary">{{i.marks}}</span></th>
            <th><a href="{%url 'ApproveMark' i.id %}" class="btn btn-success">Approve</a></th>
        </tr>
        <tr >
<td colspan="3" class="bg-white"></td>
        </tr>
    {% endfor %}

       
    </table>
    </div>
</div>

{% endblock %}