{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
    .find_container{
        width:60%;
        margin: auto;
        margin-top: 30px;
        padding: 20px;
        border: 1px solid rgb(236, 63, 63);
        border-radius: 20px;
        background-color: rgb(12, 12, 61);
    }
    .find_container input{
        width:100%;
        padding:6px;
        border: .5px solid gray;
    }
    .find_container {
        color:white !important;
    }
</style>

  <!-- slider section -->
    <!-- <section class="slider_section "> -->
      <div class="container ">
       
        <div class="find_container mb-5">
          <div class="container">
            <div class="row">
              <div class="col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <div class="form-row ">
                    <div class="detail-box col-lg-12">
                        <h1>
                          
                         Teacher Signup
                         <h6 class="text-danger">{{form.errors}}</h6>
                          
                        </h1>
                        
                        <br><br>
                      </div>
                  {% for field in form  %}
                  
                    <div class="form-group col-lg-6">
                    {{field.label}}: <br>
                    {{field}}
                    </div>
                  {% endfor %}

                   {% comment %} <div class="form-group col-lg-6"> {% endcomment %}
                  {% comment %} <label for="">Last Name</label><br>
                    <input type="text" name="lname" placeholder="Compnay Description" required>
                  </div> {% endcomment %}
                  <div class="form-group col-lg-6">
                    <label for="">Phone_number</label><br>
                      <input type="text" name="phone" placeholder="Field of work" required>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="">Photo</label><br>
                          <input type="file" name="photo" placeholder="Phone number" required>
                        </div>
                    
                 
                    <div class="form-group col-lg-12 text-center">

                      <div class="btn-box text-center align-center">
                        <button type="submit" class="btn btn-info ">Register</button>
                      </div>
                      <br>
                      <p>This Registration Form Is only for Teachers </p>
                        Students Registration plaese click <a href="{%url 'SignUp' %}">Here</a>
                    </div>
                    
                     
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </section> -->
    <!-- end slider section -->

{% endblock %}